*{
    padding: 0;
    margin: 0;
}

#field{
    display: inline-block;
    border: 1px solid grey;
}

.row{
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    position: relative;
}

.cell{
    border: 1px solid grey;
    display: inline-block;
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
}

#chat{
    margin: 10px;
    border: 3px solid #666666;
    height: 600px;
    float: right;
    width: 500px;
    display: inline-block;
}

#message-list{
    overflow: scroll;
    width: 100%;
    height: 100%;
    display: inline-block;
}

#send-message-panel{
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

#message-input{
    display: inline-block;
    width: 98%;
    font-size: 20px;
}

#send-message{
    float: right;
    height: 50px;
    width: 100%;
    display: inline-block;
    background-color: #0079db;
    border-radius: 25px;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
}

#send-message:hover{
    background-color: #0f93ff;
}

.message-text{
    display: inline-block;
    font-size: 18px;
    color: #333333;
}

.message-time{
    float: right;
    display: inline-block;
    font-size: 10px;
    color: grey;
}

.message-author{
    font-size: 14px;
    color: #e0a467;
}

.message > *{
    margin: 2px;
}

.message{
    margin: 5px;
    padding: 5px;
    background-color: #ebebeb;
    border-radius: 10px;
}
/*
.cross{
    width: 100%;
    height: 100%;
    position:relative;
    border-radius: 50%;
}*/

.cross:before,.cross:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    box-shadow:0 0 2px 0 #ccc;
    top: 50%;
    background-color: inherit;
}

.cross:before{
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
}

.cross:after{
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

.wall{
    height: 100%;
    width: 100%;
}