{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href={{ url_for('static', filename='css/room.css') }}/>
{% endblock %}

{% block content %}
    <p>{{ cell_sz }}</p>
    <div id="field">
        {% for i in range(n) %}
            <div class="row">{% for j in range(m) %}<div class="cell" id="{{ i }}-{{ j }}">
                {% if field[i][j] == 0 %}
                    <div class="cell-picture"></div>
                {% elif field[i][j] == 1 %}
                    <div class="cell-picture cross"></div>
                {% else %}
                    <div class="cell-picture wall"></div>
                {% endif %}
            </div>{% endfor %}</div>
        {% endfor %}
    </div>
    <script>
        var n = {{ n }};
        var m = {{ m }};
    </script>

    <div id="chat">
        <div id="message-list">
            {% for message in messages %}
                <div class="message">{{ message.message }} {{ message.author }} {{ message.time }}</div>
            {% endfor %}
        </div>
        <div id="send-message-panel">
            <input id="message-input">
            <div id="send-message">Send message</div>
        </div>
    </div>
    <script src="{{ url_for('static', filename="js/room.js") }}"></script>
{% endblock %}

