{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href={{ url_for('static', filename='css/room.css') }}/>
{% endblock %}

{% block content %}
    <p>{{ cell_sz }}</p>
    {% for i in range(n) %}
        <div class="row">{% for j in range(m) %}<div class="cell" id="{{ i }};{{ j }}"></div>{% endfor %}</div>
    {% endfor %}
    <script>
        var n = {{ n }};
        var m = {{ m }};
    </script>
    <script src="{{ url_for('static', filename="js/room.js") }}"></script>
{% endblock %}

